<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.magic.promotion.applyCash.dao.ApplyCashMapper" >
  <resultMap id="BaseResultMap" type="com.magic.promotion.applyCash.domain.ApplyCash" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="AGENT_ID" property="agentId" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="MONEY" property="money" jdbcType="DECIMAL" />
    <result column="BANK_CARD" property="bankCard" jdbcType="VARCHAR" />
    <result column="BANK" property="bank" jdbcType="VARCHAR" />
   <result column="STATUS" property="status" 
    				typeHandler="com.magic.promotion.util.EnumTypeHandler"
					javaType="com.magic.promotion.util.enumUtil.ApplyCashStatusEnum"
					jdbcType="INTEGER" />
    <result column="ADD_PERSON" property="addPerson" jdbcType="VARCHAR" />
    <result column="ADD_TIME" property="addTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, AGENT_ID, NAME, MONEY, BANK_CARD, BANK, STATUS, ADD_PERSON, ADD_TIME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="map" >
    select <include refid="Base_Column_List" />  from apply_cash where 1=1
      <if test="example.agentId != null and example.agentId !=''" >
        and AGENT_ID = #{example.agentId,jdbcType=VARCHAR}
      </if>
      <if test="example.name != null and example.name !=''" >
        and NAME = #{example.name,jdbcType=VARCHAR}
      </if>
      <if test="example.status != null and example.status !=''" >
        and MONEY = #{example.status,jdbcType=DECIMAL}
      </if>
       order by add_time desc
      <if test="page != null and page.startRecord != -1" >
      	limit ${page.startRecord},${page.pageSize}
      </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select  <include refid="Base_Column_List" />  from apply_cash where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from apply_cash where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.magic.promotion.applyCash.domain.ApplyCash" >
    insert into apply_cash (ID, AGENT_ID, NAME, 
      MONEY, BANK_CARD, BANK, 
      STATUS, ADD_PERSON, ADD_TIME
      )
    values (#{id,jdbcType=INTEGER}, #{agentId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{money,jdbcType=DECIMAL}, #{bankCard,jdbcType=VARCHAR}, #{bank,jdbcType=VARCHAR}, 
      #{status,typeHandler=com.magic.promotion.util.EnumTypeHandler}, #{addPerson,jdbcType=VARCHAR}, #{addTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <select id="countByExample" parameterType="com.magic.promotion.applyCash.domain.ApplyCash" resultType="java.lang.Integer" >
    select count(*) from apply_cash where 1=1
    <if test="example.agentId != null and example.agentId !=''" >
        and AGENT_ID = #{example.agentId,jdbcType=VARCHAR}
      </if>
      <if test="example.name != null and example.name !=''" >
        and NAME = #{example.name,jdbcType=VARCHAR}
      </if>
      <if test="example.status != null and example.status !=''" >
        and MONEY = #{example.status,jdbcType=DECIMAL}
      </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.magic.promotion.applyCash.domain.ApplyCash" >
    update apply_cash
    <set >
      <if test="agentId != null" >
        AGENT_ID = #{agentId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="money != null" >
        MONEY = #{money,jdbcType=DECIMAL},
      </if>
      <if test="bankCard != null" >
        BANK_CARD = #{bankCard,jdbcType=VARCHAR},
      </if>
      <if test="bank != null" >
        BANK = #{bank,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,typeHandler=com.magic.promotion.util.EnumTypeHandler},
      </if>
      <if test="addPerson != null" >
        ADD_PERSON = #{addPerson,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        ADD_TIME = #{addTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>