<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mjdics.sysManager.dao.TradeTypeMapper" >
  <resultMap id="BaseResultMap" type="com.mjdics.sysManager.domain.TradeType" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="type_id" property="typeId" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="ADD_PERSON" property="addPerson" jdbcType="VARCHAR" />
    <result column="ADD_TIME" property="addTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, NAME, type_id, type, ADD_PERSON, ADD_TIME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.mjdics.sysManager.domain.TradeTypeExample" >
    select <include refid="Base_Column_List" />  from trade_type
    order by add_time desc
      <if test="page != null and page.startRecord != -1" >
      	limit ${page.startRecord},${page.pageSize}
      </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select  <include refid="Base_Column_List" /> from trade_type where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from trade_type where ID = #{id,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="com.mjdics.sysManager.domain.TradeType" >
    insert into trade_type (ID, NAME, type_id, 
      type, ADD_PERSON, ADD_TIME
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{typeId,jdbcType=VARCHAR}, 
      #{type,jdbcType=INTEGER}, #{addPerson,jdbcType=VARCHAR}, #{addTime,jdbcType=TIMESTAMP}
      )
  </insert>
  
  <select id="countByExample" parameterType="com.mjdics.sysManager.domain.TradeTypeExample" resultType="java.lang.Integer" >
    select count(*) from trade_type
  </select>
  <update id="updateByPrimaryKey" parameterType="com.mjdics.sysManager.domain.TradeType" >
    update trade_type
    set NAME = #{name,jdbcType=VARCHAR},
      type_id = #{typeId,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      ADD_PERSON = #{addPerson,jdbcType=VARCHAR},
      ADD_TIME = #{addTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>