@charset "UTF-8";
/* CSS Document */
/*选项卡*/
.prize {
	overflow: hidden;
	margin: 0px;
	padding: 0px;
	clear: none;
	width: 100%; /* IE Hack to force proper layout when preceded by a paragraph. (hasLayout Bug)*/
}


.prizeGroup {
	margin: 0px;
	padding: 0px;
}


.TabPanels {
	position: relative;
	top: 1px;
	float: left;
	padding: 4px 30px;
	margin: 0px 1px 0px 0px;
	font: normal 13px "微软雅黑", "宋体", "黑体",Arial, Helvetica, sans-serif;
	background-color: #DDD;
	list-style: none;
	border-left: solid 1px #ECECEC;
	border-bottom: solid 1px #ECECEC;
	border-top: solid 1px #ECECEC;
	border-right: solid 1px #ECECEC;
	-moz-user-select: none;
	-khtml-user-select: none;
	cursor: pointer;
}


.TabbedPanelsTabHover {
	background-color: #ffde00;
}


.TabbedPanelsTabSelected {
	background-color: #FFF;
	border-bottom: 1px solid #FFF;
}

.TabPanels a {
	color: black;
	text-decoration: none;
}


.TabContentGroup {
	clear: both;
	border-left: solid 1px #ECECEC;
	border-bottom: solid 2px #CCC;
	border-top: solid 1px #ECECEC;
	border-right: solid 1px #ECECEC;
	background-color: #FFF;
}


.TabbedPanelsContentVisible {
	padding:10px;
	height:auto;
}


.VTabbedPanels {
	overflow: hidden;
	zoom: 1;
}


.VTabbedPanels .prizeGroup {
	float: left;
	width: 10em;
	height: 20em;
	background-color: #EEE;
	position: relative;
	border-top: solid 1px #999;
	border-right: solid 1px #999;
	border-left: solid 1px #CCC;
	border-bottom: solid 1px #CCC;
}


.VTabbedPanels .TabPanels {
	float: none;
	margin: 0px;
	border-top: none;
	border-left: none;
	border-right: none;
}


.VTabbedPanels .TabbedPanelsTabSelected {
	background-color: #EEE;
	border-bottom: solid 1px #999;
}


.VTabbedPanels .TabContentGroup {
	clear: none;
	float: left;
	padding: 10px;
	width: 30em;
	height: 20em;
}

/* Styles for Printing */
@media print {
. {
	overflow: visible !important;
}
.TabContentGroup {
	display: block !important;
	overflow: visible !important;
	height: auto !important;
}
.TabContent {
	overflow: visible !important;
	display: block !important;
	clear:both !important;
}
.TabPanels {
	 overflow: visible !important;
	 display: block !important;
	 clear:both !important;
}
}
/*选项卡end*/